body {
    padding-top: 5rem;

  }

html, body {height:100%;}

.menuPoint{
  font-weight:bold;
  color:white;
}

.container{
  background: rgb(69, 64, 88);
}

.tdRed{
  background-color: red;
}


.tdYellow{
  background-color: rgb(94, 255, 0);
}

#TOTAL_TITLE span{
  font-size:20px;
}