<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/common :: head('메인')">

  </head>
  <body style="padding-top: 0rem;">

    <link rel="stylesheet" href="https://ssl.nx.com/s3/Game/Maplestory/guild.css" type="text/css" />
    <link rel="stylesheet" href="https://ssl.nx.com/s3/Game/Maplestory/jquery.mCustomScrollbar.css" type="text/css" />
    <script src="https://ssl.nx.com/s1/Game/Maplestory/jquery-1.12.4.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://ssl.nx.com/s1/Game/Maplestory/jquery-ui.js"></script>
    <script src="https://ssl.nx.com/s1/global/ngb_head.js"></script>

    <script src="https://ssl.nx.com/s1/Game/Maplestory/char_info.js" type="text/javascript"></script>
    <script src="https://ssl.nx.com/s1/Game/Maplestory/jquery.mCustomScrollbar.concat.min.js" type="text/javascript"></script>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('home')"></nav> 
 
    <div class="container">  
    </div>
  </body>
  <script type="text/javascript">
  </script>
</html>