<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/common :: head('수로관리')">

  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('play')"></nav>

    <div class="container" style="position:absolute; left:350px;">
      <!--
        <iframe id="frmUser" name="frmUser" src="https://maplestory.nexon.com/Common/Character/Detail/%ec%97%98%eb%9f%b0%ec%9a%b0%eb%93%9c/Guild?p=mikO8qgdC4hElCwBGQ6GOx8CmO11EvduZkV0bRbPAhZMLFjnbO74sJiMdpG1aU9VkctmtQk1%2bXxiicNq%2fVnlc%2b9D3jI0eoyVt4WQOJ6jKZXLdFloZ%2f5gtvBMxOZhaeg%2bqq%2fIE1NqHUBOfpBjRDz9MngpsgRfiwwSUei9TKhqPyDNbFKjed3cZxX8l3RT2nh9#a"  width="200px" height="200px">  </iframe>
      -->
      <h2>수로참여자</h2>
      <div>
          <input type="button" value="수로참여자 등록" onclick="clickevent()">
          <textarea id='textarea1' name="PLAY_LIST" rows="" cols="" style='height:60px; width:100%;'></textarea>
        <h2>노블스킬 사용 대상자</h2>
          <textarea id='textarea2' rows="" cols="" style='height:60px; width:100%; background-color:#BDBDBD;' readonly="true"></textarea>
        <h2>노블스킬 제외 대상자(월 2회이상 불참자)</h2>
          <textarea id='textarea3'  rows="" cols="" style='height:60px; width:100%; background-color:#BDBDBD;' readonly=></textarea>
      </div>
    </div>
  </body>
  <script type="text/javascript">

    var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");

    var grid = $('#playGrid').DataTable();
    var grid2 = $('#playerGrid').DataTable();

    function clickevent(){

      var vStr = "";

      $.ajax({
        url : "/play/playerUpdqte",
        type: 'POST',
        data: {PLAY_LIST : $("#textarea1").val()},
        async:false,
        beforeSend : function(xhr)
        {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
            xhr.setRequestHeader(header, token);
        },
        success : function(data){
          alert("작업이 완료 되었습니다.");
          console.log(data.useList);
          console.log(data.banList);
          $("#textarea2").val(data.useList.use_LIST);
          $("#textarea3").val(data.banList.ban_LIST);

          grid.row().remove();
          grid.add()
        }
      });
    }

    function fnSub(obj){
      alert($(obj).attr("id"));
    }
    
  </script>
</html>